{% extends 'base.html' %}
{% block title %}this is about{% endblock %}

{%block content%}
<style>
    .img_logo {margin-left: 100px;}
</style>
<section id="gtco-team" class="bg-white section-padding">
    <div class="container">
        <div class="section-content">
            <div class="row ">
                <div class="col-lg-5 col-md-6 align-self-center py-5">
                    <h2 class="special-number">ABOUT ME<svg height="40" width="350"><line x1="150" y1="0" x2="350" y2="0" style="stroke:rgb(247, 112, 231);stroke-width:4" /></svg></h2>
                    <div class="heading-section pl-lg-5 ml-md-5 dishes-text">                
                        <img src="\media\Post\imgs\mayuri.jpeg" class="rounded-circle img_logo" height=200px; border-radius: 50% alt="">
                        <span class="subheading">
                            <h3>Hi There!!!</h3>
                        </span>
                        <h5>
                            I'm Mayuri the cook, writer and founder of this blog. I've always wondered the food we eat in our day-to-day life must have an origin which led me to an adventure to discover and get mesmerized by the stories behind the food Thus, every bite has its own tale.</h5>
                    </div>
                    <h2 class="special-number">FOLLOW ME<svg height="40" width="350"><line x1="150" y1="0" x2="350" y2="0" style="stroke:rgb(247, 112, 231);stroke-width:4" /></svg></h2>
                    <div class="container">
                    <div class="row">
                    <div class="col">
                    <a href="https://www.instagram.com/phileinsophous/?hl=en"><img src="\static\img\instagram.png" height="90px" alt="">
                    </a></div>
                    <div class="col"><a href="mailto:taleswithbites@gmail.com"><img src="\static\img\letter.png" height="90px" alt="">
                    </a></div></div></div>
                </div>
                <div class="col-sm-7 py-5 pl-md-0 pl-4">
                    <div class="heading-section pl-lg-5 ml-md-5">
                        <span class="subheading">
                            Hey guys
                        </span>
                        <h2>
                            Welcome to Bites with Tales
                        </h2>
                    </div>
                    <div class="pl-lg-5 ml-md-5">
                        <h5>On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word "and" and the Little Blind Text should turn around and return to its own, safe country. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}