{% extends 'base.html' %}

{% block title %}WELCOME TO MY BLOG{% endblock %}

{% block content %}

<style>
    .img_test {
        width:  700px;
        height: 450px;
    }
</style>

<section id="gtco-team" class="bg-white section-padding">
  <div class="container">
      <div class="section-content">
          
          <div class="row">
            {% for post in allPosts%}
            <div class="col-md-4">
                <div class="team-card mb-5">
                    <img class="img-fluid img_test" src="/media/{{post.image}}" alt="">
                    <!--<div class="img-fluid img_test" style="background: url('/media/{{post.image}}');background-position: center;background-size: cover;"></div>-->
                    <div class="team-desc">
                        <h4 class="mb-0"><a href="{% url 'singleblog' post.slug %}" title="">{{post.title}} </a></h4>
                        <p class="mb-1">{{post.created_at}} by {{post.author}}</p>
                        
                    </div>
                </div>
            </div>{% endfor %}
          </div>
      </div>
  </div>
</section>



{% endblock %}